<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.proxyandobserverinaction">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProxyAndObserverInAction">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.android.imcp.UserIMCP"
            android:authorities="com.android.imcp.User.AUTHORITY"
            android:exported="true">
        </provider>
        <provider
            android:name="com.android.imcp.ExerciseIMCP"
            android:authorities="com.android.imcp.Exercise.AUTHORITY"
            android:exported="true">
        </provider>
    </application>
</manifest>
